.App {
  text-align: center;
  max-width: 800px;
  margin: auto
}

.main-header {
  display: flex;
  justify-content: space-around;
  align-items: center
}

nav {
  display: flex;
  align-items: center
}

nav a {
  padding-right: 20px
}